.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#left {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 10px;
}

#right {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 10px;
}

.text-section {
  padding: 10px;
  margin-bottom: 10px;
}

.image-section {
  padding: 10px;
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
}

.slides {
  height: 300px;
  min-width: 100%;
  display:none;
  height: 350px;
  max-width: 100%;
}

.donate-section {
  padding: 10px;
}

.donate-section h4, .text-section h4 {
  background-color: #81968F;
  color: #E9D6EC;
  padding: 10px 10px 10px 20px;
  border-radius: 20px;
}

.subscription, .amount {
  padding-left: 30px;
}

.amount button:focus {
  outline: none;
  background-color: lightgreen;
}

.submit-btn {
  margin-top: 50px;
  width: 100%;
  display: block;
  margin-top: 40px;
  margin-left: 30px;
}

.extra-links {
  list-style-type: none;
  display: block;
  overflow: hidden;
  width: 80%;
  margin: 50px auto 0 auto;
}

.extra-links li {
  float: left;
  margin-left: 30px;
}

.extra-links li a {
  display: block;
  padding: 10px;
  margin:0 20px;
  text-decoration: none;
}

.extra-links li a:hover {
  border-bottom: 2px dotted;
}

@media all and (max-width: 1024px) {
  .wrapper {
    display: block;
  }
}
@media all and (max-width: 768px) {
  .wrapper {
    padding-top:60px;
  }
}
@media all and (max-width: 480px) {

}
