.wrapper {
	display: grid;
	margin: 0 auto;
	border: 2px solid red;
	grid-auto-rows: 200px;
	grid-auto-columns: 200px;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.a {
	border: 1px solid blue;
}