.wrapper {
	display: grid;
	margin: 0 auto;
	/*border: 2px solid red;*/
	grid-auto-rows: 200px;
	grid-auto-columns: 200px;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

}
.a, {
	position: relative;
}

.bottom-left {
	border: color 1px solid grey;
    position: relative;
    bottom: 30px;
    left: 10px;
    color: white;
}

.a {
    padding: 0px;
    transition: transform .2s;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
   
}

.a:hover {
    -ms-transform: scale(1.050); /* IE 9 */
    -webkit-transform: scale(1.050); /* Safari 3-8 */
    transform: scale(1.050); 

}


.b {
    padding: 0px;
    transition: transform .2s;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
   
}

.b:hover {
    -ms-transform: scale(1.050); /* IE 9 */
    -webkit-transform: scale(1.050); /* Safari 3-8 */
    transform: scale(1.050); 

}

.c {
    padding: 0px;
    transition: transform .2s;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
   
}

.c:hover {
    -ms-transform: scale(1.050); /* IE 9 */
    -webkit-transform: scale(1.050); /* Safari 3-8 */
    transform: scale(1.050); 

}

.d {
    padding: 0px;
    transition: transform .2s;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
   
}

.d:hover {
    -ms-transform: scale(1.050); /* IE 9 */
    -webkit-transform: scale(1.050); /* Safari 3-8 */
    transform: scale(1.050); 

}

.e {
    padding: 0px;
    transition: transform .2s;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
   
}

.e:hover {
    -ms-transform: scale(1.050); /* IE 9 */
    -webkit-transform: scale(1.050); /* Safari 3-8 */
    transform: scale(1.050); 

}

.f {
    padding: 0px;
    transition: transform .2s;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
   
}

.f:hover {
    -ms-transform: scale(1.050); /* IE 9 */
    -webkit-transform: scale(1.050); /* Safari 3-8 */
    transform: scale(1.050); 

}

.g {
    padding: 0px;
    transition: transform .2s;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
   
}

.g:hover {
    -ms-transform: scale(1.050); /* IE 9 */
    -webkit-transform: scale(1.050); /* Safari 3-8 */
    transform: scale(1.050); 

}

.h {
    padding: 0px;
    transition: transform .2s;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
   
}

.h:hover {
    -ms-transform: scale(1.050); /* IE 9 */
    -webkit-transform: scale(1.050); /* Safari 3-8 */
    transform: scale(1.050); 

}


@media all and (min-width: 400px, max-width: 700px;){
	.wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, 9em);
	}
	
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .a, .b, .c, .d, .e, .f, .g, .h {
        width: 100%;
    }
}