.wrapper {
	width: 90%;
	background-color:#eee;
	margin:10px auto 50px;
}

body {
	background-color: #CFB9A5;
	font-family: 'Roboto', sans-serif;
}

a {
	color:#96BDC6;
}

.title {
	background-color: #96BDC6;
	font-family: 'Cherry Swash', cursive;
	padding:10px;
	height:50px;
}

h1 {
	margin:0;
	color:#F8DDA4;
	font-weight:lighter;
	font-size:2.75em;
}

nav {
	background-color: #81968F;
	padding:15px;
	text-align: center;
	/*height:100px;*/
}

nav a {
	display: inline-block;
	width:120px;
	text-decoration: none;
	color:#E9D6EC;
	margin: 0 20px;
	padding:5px;
	border: 2px solid #81968F;
}
nav a:hover {
	color:#E8CCBF;
	border: 2px solid #E9D6EC;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
	background-color: #96BDC6;
	height:30px;
	color:#F8DDA4;
	text-align:center;
	position: fixed;
	bottom:0;
	width: 100%;
	padding:5px 0;
	font-size: .8em;
}

footer h5 {
	margin:0;
	font-family: 'Cherry Swash', cursive;
	display: inline-block;
	font-size: 1.3em;
	font-style: oblique;
	margin-top:5px;
}


@media all and (max-width: 768px) {

	.title {
		height: 35px;
	}

	h1 {
		font-size: 2em;
	}

	nav {
		padding:10px;
	}

	nav a {
		width: auto;
		padding: 0;
		border: none;
	}

	nav a:hover {
		border: none;
	}

	footer {position: relative;}

}


@media all and (max-width: 480px) {

	.title {
		height: auto;
		text-align: center;
	}

	h1 {
		font-size: 1.7em;
	}

	nav a {
		width:auto;
		margin: 0 5px;
	}

}
