.wrapper {
<<<<<<< HEAD
  width: 90%;
}
=======
	width: 90%;
}

body {background-color: #DDF9C1;}

.title {
	background-color: #D45113;
	font-family: 'Cherry Swash', cursive;
	padding:10px;
}

h1 {
	margin:0;
	color:#F8DDA4;
	font-weight:lighter;
	font-size:2.75em;
}
>>>>>>> master
